mat-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    padding: 0 1rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.6rem;
}

.mdc-card__media:first-child {
    border-radius: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.left-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: auto;
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    border-radius: 2.5rem;
}

.name {
    height: 2.5rem;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.synopsis {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}

.synopsis p {
    width: 100%;
    height: 2.5rem;
    line-height: 1.25rem;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


.details-link button {
    font-weight: 600;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15); /* Adds shadow to the button for depth */
}

.details-link button:hover {
    background-color: #0056b3;
}


