<!-- HTML Structure of Homepage -->

<div class="page-container">
  <!-- Search Bar -->
  <search-bar
    [(searchBarQuery)]="searchBarQuery"
    [placeholder]="
      'Search Announcement by Organization, Author, Title, or Synopsis'
    " />


  <!-- Organizations -->
  <div class="announcement-preview">
    <announcement-preview
      class="card"
      [announcement]="announcement"
      [profile]="profile"
      [profilePermissions]="permValues"
      *ngFor="
        let announcement of announcements | announcementFilter: searchBarQuery
      " />

  </div>
</div>
